<header class="wrapper">
  <nav class="navbar navbar-expand-sm" role="navigation">

    <div class="logo-container me-auto text-center d-sm-none">
      <div class="logo" [routerLink]="['/home']">
        <span>paolo</span>kos
      </div>
    </div>

    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav w-100">
        <!-- Left Section -->
        <li class="nav-item">
          <div class="left-section d-flex justify-content-start">
            <a [routerLink]="['/home']" fragment="skills" title="View my skills">Skills</a>
            <a [routerLink]="['/home']" fragment="my-work" title="See examples of my work">My Work</a>
          </div>
        </li>

        <!-- Middle Section -->
        <li class="nav-item mx-auto d-none d-sm-block">
          <div class="middle-section text-center">
            <div class="logo" [routerLink]="['/home']">
              <span>paolo</span>kos
            </div>
          </div>
        </li>

        <!-- Right Section -->
        <li class="nav-item">
          <div class="right-section d-flex justify-content-end">
            <span
              (click)="copyToClipboard('kos.paolo@gmail.com')"
              class="tooltip-trigger"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Copy Email to Clipboard"
            >
              Get In Touch
            </span>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
