@import '../../../styles/variables';

h1 {
  font-family: "Nunito Sans", sans-serif;
  .highlight {
    color: $secondaryHeadlineColor;
  }
}


.text-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: $textColor;
}
