<section class="top-wrapper">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Section: Text Content -->
      <div class="col-md-6 text-section left-section">
        <h1 class="headline">
          Hi, I’m <span class="highlight">Paolo.</span>
        </h1>
        <p class="text">
          I’m a professional Full-Stack software engineer with 3+ years of experience
          and a developing UI/UX designer. If you want to work with me, get in touch.
        </p>
        <a [routerLink]="['/home']" fragment="my-work" class="button" aria-label="See my work">
          See My Work
        </a>
      </div>
      <!-- Right Section: Image Content -->
      <div class="col-md-6 image-section right-section">
        <div class="image-placeholder d-flex justify-content-center align-items-center">
          <img src="assets/images/profile.webp" alt="Paolo's image" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
