@import 'variables';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background: $backgroundColor;
  color: $textColor;
  font-family: $textFontFamily;
}

p {
  margin: unset !important;
}

a {
  color: unset !important;
  text-decoration: none !important;
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1162px !important;
  }
}

.row > *, .navbar {
  padding: unset;
  margin: unset;
}

h1, h2, h3, h4, h5, h6 {
  margin: unset;
}

.section-wrapper {
  margin-top: $sectionMargin;
}

.left-section {
  padding-right: $rightPadding;
}

.right-section {
  padding-left: $leftPadding;
}

.top-wrapper, .section-wrapper {
  .headline {
    font-family: $headlineFontFamily;
    font-size: $headlineFontSize;
    font-weight: $headlineFontWeight;
    letter-spacing: $headlineLetterSpacing;
    color: $primaryHeadlineColor;

    .highlight {
      color: $secondaryHeadlineColor;
    }
  }

  .text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .kicker {
      font-family: $kickerFontFamily;
      letter-spacing: $kickerLetterSpacing;
      font-size: $kickerFontSize;
      color: $primaryKickerColor;
      margin-bottom: $smallestMargin;
      margin-top: $middleMargin;
    }

    .subheadline {
      font-family: $subheadlineFontFamily;
      font-size: $subheadlineFontSize;
      letter-spacing: $subheadlineLetterSpacing;
      color: $primarySubheadlineColor;
      margin-top: $middleMargin;
    }

    .text {
      font-family: $textFontFamily;
      line-height: $textLineHeight;
      letter-spacing: $textLetterSpacing;
      font-size: $textFontSize;
      margin-top: $middleMargin !important;

      a {
        position: relative;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: currentColor;
        }
      }
    }
  }

  .button {
    font-family: $buttonFontFamily;
    color: $buttonTextColor;
    letter-spacing: $buttonLetterSpacing;
    border: $buttonBorder;
    font-size: $buttonFontSize;
    padding: $buttonPadding;
    border-radius: $buttonBorderRadius;
    max-width: $buttonWidth;
    width: 100%;
    text-align: center;
    margin-top: $middleMargin !important;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $buttonHoverBackgroundColor;
      color: $buttonHoverTextColor;
    }
  }
}
