@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'fonts';
@import 'globals';
