<div class="container" id="projects">
  <div class="main-wrapper">
    <div class="heading-wrapper">
      <h1>FEATURED PROJECTS</h1>
      <h4>
        Each project represents a unique challenge and an opportunity for
        growth, demonstrating my commitment to excellence and innovation
      </h4>
    </div>
    <div class="projects-wrapper">
      <div class="project">
        <img src="assets/images/racuni-kos-logo.png" alt="Project Logo 1" />
        <div class="project-description">
          <h1>RACUNI KOS</h1>
          <p (click)="openProject('https://github.com/kospaolo/racuni-kos')">
            Show more
          </p>
        </div>
      </div>
      <!--       <div class="project">
        <img src="assets/images/racuni-kos-logo.png" alt="Project Logo 2" />
        <div class="project-description">
            <h1>RACUNI KOS</h1>
            <p (click)="openProject('https://github.com/kospaolo/racuni-kos')">Show more</p>
        </div>
      </div>
      <div class="project">
        <img src="assets/images/racuni-kos-logo.png" alt="Project Logo 3" />
        <div class="project-description">
            <h1>RACUNI KOS</h1>
            <p (click)="openProject('https://github.com/kospaolo/racuni-kos')">Show more</p>
        </div>
      </div> -->
    </div>
  </div>
</div>
