<div class="container" id="about">
  <div class="wrapper">
    <div class="left-section">
      <div class="introduction">
        <h4>FULL-STACK SOFTWARE ENGINEER</h4>
        <h1>PAOLO KOS</h1>
        <p>
          I am a full-stack web developer with a master's degree in informatics
          from the University of Rijeka. I have a passion for creating
          innovative and intuitive web applications that make a positive impact
          on people's lives. Currently, I work as a junior full-stack engineer
          at Juice. There, I use my skills in HTML, CSS, JavaScript, TypeScript,
          Vue.js, Angular, Node.js, and MongoDB to build complex websites and
          feature-rich web applications. I have contributed to several exciting
          projects, such as developing a dynamic menu system, optimizing the
          user interface, and implementing a secure payment gateway. I enjoy
          collaborating with my team to find the best solutions to challenging
          problems, and I am always eager to learn new technologies and
          frameworks.
        </p>
        <div class="socials">
          <div class="social">
            <img
              src="/assets/icons/linkedin.png"
              (click)="openLink('https://www.linkedin.com/in/kospaolo')"
              alt="LinkedIn"
            />
          </div>
          <div class="social">
            <img
              src="/assets/icons/github.png"
              (click)="openLink('https://github.com/kospaolo')"
              alt="GitHub"
            />
          </div>
          <button class="cv-button" (click)="downloadCV()">
            <span>DOWNLOAD CV</span>
          </button>
        </div>
      </div>
    </div>
    <div class="right-section">
      <div class="image-wrapper">
        <img src="/assets/images/profile.png" alt="My Picture" />
      </div>
    </div>
  </div>
</div>
