@import '../../../styles/variables';

.subheadline {
  margin-top: unset !important;
}

.project-row {
  margin-top: clamp(3rem, 5vw, 3.875rem);
}

.skills-img {
  width: 90%;

  @media (max-width: 768px) {
    width: 100%;
  }
}
