<section class="section-wrapper hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="headline">
          What I <span class="highlight">do?</span>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 text-section">
        <h2 class="subheadline">
          Web development
        </h2>
        <p class="text">
          I build responsive and user-friendly websites using the MEAN stack (MongoDB, Express.js, Angular, Node.js)
          or Webflow. Whether you need a landing page, an e-commerce site, or a full-scale web application,
          I can make it happen.
        </p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5 text-section">
        <h2 class="subheadline">
          Web design
        </h2>
        <p class="text">
          I design modern and impactful websites or mobile apps that help businesses stand out and succeed.
          With Figma, I create designs that not only look great but also meet the highest standards of functionality
          and user experience.
        </p>
      </div>
    </div>

    <div class="row skills-second-section">
      <div class="col-md-5 text-section">
        <h2 class="subheadline">
          SEO
        </h2>
        <p class="text">
          I optimize websites for search engines to improve visibility, and attract the right audience. I help your
          brand stand out and achieve amazing results in today’s competitive market.
        </p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5 text-section">
        <h2 class="subheadline">
          Support & Maintenance
        </h2>
        <p class="text">
          I provide regular updates, bug fixes, performance monitoring, and security enhancements to ensure your site
          stays fast, secure, and up-to-date.
        </p>
      </div>
    </div>
  </div>
</section>
