<div class="container" id="skills">
  <div class="main-wrapper">
    <div class="experience-wrapper">
        <h1>3</h1>
        <h4>YEARS EXPERIENCE</h4>
    </div>
    <div class="skills-wrapper">
      <div class="skill">
        <img src="assets/icons/frontend.png" alt="Frontend" />
        <p>
          Proficient in Angular, HTML, CSS, and JavaScript with some experience
          in Vue, enabling the creation of dynamic, responsive, and
          user-friendly web applications
        </p>
      </div>
      <div class="skill">
        <img src="assets/icons/backend.png" alt="Backend" />
        <p>
          Experienced in Node.js, MongoDB and Firebase. Capable of building robust and
          scalable server-side applications
        </p>
      </div>
      <div class="skill">
        <img src="assets/icons/others.png" alt="Others" />
        <p>
          Familiar with Git for version control, Postman for API testing, and
          Figma for designing intuitive user interfaces
        </p>
      </div>
    </div>
  </div>
</div>
